:root {
	--primary-color: #2d2d2d;
	--secundary-color: #ffea9f;
	--input-bg: #ffea9f5f;

	--bg-color-bnt: #ffea9f;
	--bg-color: rgb(249 250 251);
	--box-shadow: 0.22rem 0.3rem #231f20;

	--title-color: #2d2d2d;
	--sub-title-color: #494a4c;
	--paragraph-color: #494a4c;
}
/*====LOADER======*/
.lds-roller {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-roller div {
	animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 40px 40px;
}
.lds-roller div:after {
	content: ' ';
	display: block;
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: var(--bg-color-bnt);
	margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
	animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
	top: 63px;
	left: 63px;
}
.lds-roller div:nth-child(2) {
	animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
	top: 68px;
	left: 56px;
}
.lds-roller div:nth-child(3) {
	animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
	top: 71px;
	left: 48px;
}
.lds-roller div:nth-child(4) {
	animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
	top: 72px;
	left: 40px;
}
.lds-roller div:nth-child(5) {
	animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
	top: 71px;
	left: 32px;
}
.lds-roller div:nth-child(6) {
	animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
	top: 68px;
	left: 24px;
}
.lds-roller div:nth-child(7) {
	animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
	top: 63px;
	left: 17px;
}
.lds-roller div:nth-child(8) {
	animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
	top: 56px;
	left: 12px;
}
@keyframes lds-roller {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
/*END LOADER*/
.Error,
.Success {
	/* width: 100%; */
	display: block;
	padding: 0.4em;
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 0.8rem;
	border-radius: 0.4em;
}
.Error {
	background-color: red;
}
.Success {
	background-color: green;
}
.wrapper {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
}
.Main {
	background-color: var(--bg-color);
}
.Login,
.Register {
	height: 100vh;
	padding: 0.5em;
	display: flex;
	flex-direction: column;
	align-items: center;

	row-gap: 5em;
}
.Logo {
	padding: 1em;
	text-align: center;
	font-size: 4em;
}
.Form {
	width: 100%;
	max-width: 50em;
	background-color: #fff;
	outline: 1px solid lightgray;
	border-radius: 0.4em;
	padding: 1.5em;
	box-shadow: var(--box-shadow);
}
.Form-email,
.Form-name {
	margin-bottom: 1.4em;
}
.Form-password {
	margin-bottom: 2em;
}
.Form-label {
	color: var(--title-color);
	font-weight: bold;
}
.Form-input {
	width: 100%;
	padding: 0.6em;
	border-radius: 0.3em;
	border: 1px solid gray;
	background-color: var(--input-bg);

	outline: none;
}
.Form-input::placeholder {
	color: var(--primary-color);
}
.Form-a:hover {
	color: var(--primary-color);
}
.Form-submit {
	width: 12rem;
	padding: 1em;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0.3em;
	background-color: var(--bg-color-bnt);
	box-shadow: var(--box-shadow);
	cursor: pointer;
	font-weight: bold;
}
/*Registro y olvide pwd*/
.Login-nav {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 2em;
	justify-content: space-evenly;
}
.Form-a {
	color: gray;
	font-weight: bold;
}

/*CONFIRMAR CUENTA*/
.ConfirmAcc {
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-content: center;
	column-gap: 1em;
}
.ConfirmAcc-container {
	line-height: 3em;
}
.ConfirmAcc-title {
	font-size: 2.7em;
	font-weight: bold;
}
.ConfirmAcc-title {
	/* background-color: lightcoral; */
}
.ConfirmAcc-subtitle {
	/* font-size: 1em; */
	font-size: inherit;
	color: #ffea9f;
	padding: 0;
}
.ConfirmAcc-message {
	padding: 1em;
	outline: 0.0625rem solid var(--primary-color);
	border-radius: 0.4em;
	background-color: var(--bg-color);
	box-shadow: var(--box-shadow);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.reset-pwd {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 2em;
}
